@model ShopLapTop.Model.Entities.Order

@{
    ViewData["Title"] = "Thêm mới đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Thêm mới đơn hàng</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fullname" class="control-label">Họ tên</label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label">Số điện thoại</label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label">Ghi chú</label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orderdate" class="control-label">Ngày đặt hàng</label>
                <input asp-for="Orderdate" class="form-control" />
                <span asp-validation-for="Orderdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="null">Đang xử lý</option>
                    <option value="1">Đang giao hàng</option>
                    <option value="2">Đã giao hàng</option>
                    <option value="3">Đã hủy</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label">Tổng tiền</label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Người dùng</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">Chọn người dùng</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="margin-top: 12px" type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
