@model IEnumerable<ShopLapTop.Model.Entities.Category>

<a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
    <h6 class="m-0">CATEGORIES</h6>
    <i class="fa fa-angle-down text-dark"></i>
</a>
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
    <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
        @foreach (var category in Model)
        {
            <a href="@Url.Action("Index", "Shop", new { category = category.Id })" class="nav-item nav-link">@category.Name</a>
        }
    </div>
</nav>
